<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add name="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize" />
  <add name="AppKey" value="100372335" />
  <add name="AppSecret" value="767c3b0b69635ea72353a0019fbb6e2e" />
  <add name="CallBackURI" value="http://account.autohome.com.cn" />
</appSettings>